.sidebarArea{
    background: #1BB55C;
    height: 100%;
    display: flex;
    overflow-y: auto;
    align-items: center;
  
   
    flex-direction: column;
}
.indianBtn:nth-child(1){
    margin-top: 20px;

}
.indianBtn{
    background-color: #51C683;
    padding:20px;
    width: 300px;
    border-radius: 25px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    cursor: pointer;
    box-shadow: 0px 7px 25px 10px rgba(0, 0, 0, 0.07);
}
.indianBtn:hover{
    transition: all ease-in-out 0.1s;
    color: rgba(0, 0, 0, 0.849);
}
.dow_jones{
    font-size: 1.7em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.877);
    text-align: left;
    margin-left: -80px;
    margin-top: 10px;
}
.price{
    color: rgba(255, 255, 255, 0.801);
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
    margin-left: -230px;
}
.candleChart{
    background-color: white;
    width: 80%;
    padding-top: 10px;
    padding-right: 4px;
    border-radius: 25px;   
    margin-top: 70px;
    margin-bottom: 40px;
}
.closes_c{
    color: white;
    margin-left: -74px;
    margin-top: 10px;
    font-size: 20px;
}