.App {
  text-align: center;
  height: 100vh;
}
*{
  font-family: 'Inter', sans-serif;
}
.mainZone{
  height:calc(100% - 145px);
  display: flex;
}
.sidebarZone{
  width: 580px;
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1bb55b80;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1bb55b7e;
}

.rightZone{
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 80px;
}